.stock-card {
    /* max-width: 100%; */
    transition: transform 0.2s;
  }
  
  .stock-card:hover {
    transform: scale(1.05);
  }
  
  .stock-card-body {
    background-color: #f8f9fa;
  }
  
  .price-change {
    color: green;
  }
  
  .chart-container {
    width: 100%;
    height: auto;
  }
  