.DroneList {
  padding: 20px;
  color: rgb(77, 0, 0);
  font-weight: 800;
  animation: fadeIn 1s ease-in-out;
}

.DroneList-table-container {
  animation: popUp 1.5s ease-in-out;
}

.DroneList-filter-input {
  margin-bottom: 20px;
  width: 30%;
  animation: slideIn 1s ease-in-out;
}

.table-row {
  cursor: pointer;
}

@media (max-width: 768px) {
  .DroneList-filter-input {
    width: 100% !important;
  }

  .DroneList-table-container {
    overflow-x: auto;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes popUp {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

h3 {
  color: #f78c00;
  font-weight: bold;
}

.filter-input .MuiInputBase-root {
  border-radius: 5px;
}





