
.col-md-6 {
  padding: 0 15px;
}

.mb-4 {
  margin-bottom: 1.5rem; /* Keep margin consistent */
}

.card {
  border: none;
  border-radius: 0.35rem;
  background: #fff;
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.text-xs {
  font-size: 0.75rem;
}

.shadow {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}

.card-info {
  border: 1px solid rgb(248, 234, 234);
  margin-top: -20px;
}

.card-body {
  padding: 20px;
}

.text-xs {
  font-size: 12px;
}

.text-success {
  color: #28a745;
}

.text-uppercase {
  text-transform: uppercase;
}

.list-fleet {
  display: flex;
  flex-direction: column;
}

.list-fleet ul {
  list-style-type: none;
  padding: 0;
}

.list-fleet ul li {
  font-size: 14px;
  width: 100px;
  height: 5px;
  text-align: center;
  margin-bottom: 10px;
  animation: fadeInUp 0.5s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Specific colors for different fleet statuses */
.list-fleet-1 {
  background-color: rgb(171, 194, 236);
  margin-top: -30px;
}

.list-fleet-2 {
  background-color: rgb(207, 206, 137);
  margin-top: -16px;
}

.list-fleet-3 {
  background-color: rgb(160, 214, 214);
  margin-top: -14px;
}

.list-fleet-4 {
  background-color: rgb(212, 174, 169);
  margin-top: -13px;
}

.list-fleet-5 {
  background-color: rgb(174, 171, 204);
  margin-top: -15px;
}
