.zuppa-sidebar {
  background-color: #0c083a;
  color: #fff;
  height: 250vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 100px; 
  overflow: hidden; 
  margin-left: 10px;
}

.s-image {
  width: 48px;
  border-radius: 50%;
}

.paragraph-icon p {
  margin: 0;
  padding: 15px 0; 
  text-align: center; 
}

.paragraph-icon p svg {
  color: #fff;
  cursor: pointer;
  transition: color 0.3s ease; /* Optional: Smooth transition effect */
}

.paragraph-icon p svg:hover {
  color: #ffae00; /* Change color on hover */
}