.sidebar-map {
  display: flex;
  flex-direction: column;
  width: 70px;
  background-color: #040531;
  padding: 20px;
  height: 100vh;
  border-right: 1px solid #d85600;
  align-items: center;
  cursor: pointer;
}

.sidebar-item {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.sidebar-itemImage {
  height: 40px;
  width: 43px;
  background-color: #d85600;
  border-radius: 20px;
}
.drawerbutton {
  background-color: rgb(252, 243, 243);
  color: rgb(4, 3, 53);
  font-weight: bold;
}
